@font-face {
    font-family: "Chalk Font";
    src: url('../../fonts/a_song_for_jennifer/a\ song\ for\ jennifer.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ Italic.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD\ Italic.ttf');
}

.matchContainer{
    background: url('../../images/tictactoeBackground2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
}

.matchDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Chalk Font", Arial, Helvetica, sans-serif;
    font-style: italic;
}

.matchUsernames{
    font-size: 32px;
    margin-bottom: 10px;
}

.gridBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 310px;
    width: 310px;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url('../../images/tictactoe_grid.jpg');
    background-size: 320px;
    border-radius: 5px;
}

.gridCase{
    height: 100px;
    width: 100px;
    font-size: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Chalk Font";
    font-style: italic;
    color: whitesmoke;
    font-size: 112px;
}

.matchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 300px;
    height: 100px;
    color: white;
}

.matchBox.draw{
    background-color: grey;
    height: 100px;
    width: 300px;
}

.matchBox.win{
    background-color: green;
    height: 100px;
    width: 300px;
}

.matchBox.lose{
    background-color: red;
    height: 100px;
    width: 300px;
}

.turnMessage{
    color: white;
    font-size: 20px;
}