@font-face {
    font-family: "Chalk Font";
    src: url('../../fonts/a_song_for_jennifer/a\ song\ for\ jennifer.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ Italic.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD\ Italic.ttf');
}

.profileContainer{
    background: url('../../images/tictactoeBackground2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    padding-top: 50px;
}

.userBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    height: 370px;
    width: 250px;
    color: white;
    font-size: 24px;
    font-family: "Chalk Font", Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 5px;
}

.linkBtn{
    cursor: pointer;
}