@font-face {
    font-family: "Chalk Font";
    src: url('../../fonts/a_song_for_jennifer/a\ song\ for\ jennifer.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ Italic.ttf');
}

@font-face {
    font-family: "Chalk Font";
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/a_song_for_jennifer/A\ Song\ For\ Jennifer\ BOLD\ Italic.ttf');
}

.header{
    background-color: steelblue;
    height: 150px;
    position: sticky;
    top: 0;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.header_alternative{
    background-color: rgb(30, 30, 60);
    height: 150px;
    position: sticky;
    top: 0;
    min-width: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    grid-column-start: 3;
    grid-row-start: 3;
}

.button{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-family: "Chalk Font", Arial, Helvetica, sans-serif;
    font-style: italic;
}


.burgerMenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 1;
    color: white;
}

.hide{
    display: none;
}

.profileLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.title{
    height: 75px;
    font-size: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
    min-width: 400px;
    color: white;
    font-family: "Chalk Font", Arial, Helvetica, sans-serif;
    font-style: italic;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    font-size: 16px;
}

.profilePicture2{
    border-radius: 3px;
    height: 75px;
    width: 75px;
    background-color: white;
}

@media all and (max-width: 1050px){
    .header{
        background-color: steelblue;
        height: 75px;
        position: sticky;
        top: 0;
        min-width: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .title{
        height: 50px;
        font-size: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: span 1;
        min-width: 200px;
        color: white;
    }

    .buttons{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 25px;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .button{
        border-radius: 5px;
        height: 15px;
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 10px;
        background-color: white;
        border: solid 1px black;
        font-size: 10px;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    .burgerMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column-start: 3;
        grid-row-start: 2;
        
    }

    .burgerIcon{
        height: 50px;
        width: 50px;
    }

    .linksFrame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        background-color: whitesmoke;
        border: 1px solid black;
    }

    .link{
        text-decoration: underline;
        color: black;
        cursor: pointer;
        margin: 2px;
    }

    .noDecoration{
        text-decoration: none;
        color: black;
    }

    .hide{
        display: none;
    }

    .profile{
        display: none;
    }
}