.matchesListContainer{
    background: url('../../images/tictactoeBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    padding-top: 20px;
}

.titleList{
    font-family: "Chalk Font", Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    font-size: 64px;
}

.matchesDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.matchBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    color: white;
    width: 350px;
    height: 220px;
    padding: 5px;
    border-radius: 5px;
}

.linkBtn{
    color: white;
    text-decoration: none;
    font-size: 24px;
}